<%- include('../layout/header') %>
  <h1 class="text-3xl font-bold underline">Hello World!</h1>

  <h2 class="text-xl font-semibold mb-4">Welcome to my homepage</h2>
  <p class="mb-2">This is a sample layout using EJS and Tailwind CSS.</p>
  <p>Change the content here and the header/footer remain consistent.</p>

  <%- include('../layout/footer') %>